<h1>Listing role_sessions</h1>

<%= grid(@role_sessions, show_filters: :always) do |g|
  g.column name:  'Role', filter: false do |task|
    task.role_id
  end

  g.column name:  'Computer' do |task|
    task.computer.hostname
  end
  g.column name:  '开始等级', attribute: 'start_level'
  g.column name: '获取金币' do |task|
    gold_str task.total - task.start_gold
  end
  g.column name:  '任务', attribute: 'task'
  g.column name:  '连接次数', attribute: 'connection_times'
  g.column name: '在线时长' do |task|
    hour_str task.live_at - task.created_at
  end
  g.column name:  '在线时间', attribute: 'live_at'
  g.column   do |task|
    link_to('Edit', edit_role_session_path(task)) + " "+
    link_to('Destroy',role_session_path(task),confirm: 'Are you sure?',:method => :delete)
  end
end %>
<br />

<%= link_to 'New Role session', new_role_session_path %>
