<fieldset>
<legend>副本等级分布</legend>
<table class="table">
<thead>
	<tr>
		<th>角色等级</th>
		<th>副本数量</th>
		<th>副本名称</th>
	</tr>
</thead>
<tbody>
<% 82.times.each do |i|%>
<% maps =  InstanceMap.level_scope(i) %>
	<tr>
		<td><%= i%></td>
		<td><%= maps.count %></td>
		<td><%= maps.map(&:name)%></td>
	</tr>
<%end%>
</tbody>

</table>
</fieldset>