= render "navbar"
=render 'grid'
.btn-toolbar
  .btn-group
    = link_to "新建副本", new_instance_map_path ,class: 'button btn btn-primary'
  .btn-group
    =grid_filter @instance_maps, :profession_filter

  .btn-group.pull-right
    = link_to "更新进入数量", reset_enter_count_instance_maps_path,:method=>:put,:class=>"btn btn-warning" 

=render_grid(@instance_maps)

