<%= grid(@notes, show_filters: :no) do |g|
  g.column name:  '时间',attribute: 'created_at' do |note|
    raw("<span title='#{note.id}'>" + time_str(note.created_at) +"</span>")
  end

  g.column name:  '区', attribute: 'server'
  # g.column name:  'KEY', attribute: 'auth_key',filter: false
  g.column name: '机器' ,attribute: 'hostname', model: 'Computer' do |note|
    computer_tag(note.computer) unless note.computer.blank?
  end
  g.column name: '账号' ,attribute: 'no', model: 'Account' do |note|
    account_tag(note.account) unless note.account.blank?
  end
  g.column name: '角色' ,attribute: 'id', model: 'Role' do |note|
    role_tag(note.role_id) unless note.role.blank?
  end
  g.column name:  '等级', attribute: 'level'
  g.column name:  '版本', attribute: 'version'
  g.column name:  'IP', attribute: 'ip' do |note|
    link_to note.ip,notes_path(:ip => note.ip)
  end
  g.column name:  '事件' do |note|
    note_tag note 
  end
  g.column name:  "状态",attribute: 'api_code', custom_filter: :auto  do |note|
    note.api_code if note.api_code != '0'
  end
  g.column name:  "消息",attribute: 'msg'  do |note|
      "#{note.msg}--#{note.opts}"
  end
end %>