<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'notes' && action_name == 'index' %>>
 <%= link_to raw('<i class="icon-list"></i>记录列表'), notes_path %>
</li>

</ul>
