<%= render "navbar" %>

<%= render :partial => "search_form",:locals=>{:path=>group_count_notes_path} %>


<table class="table">
<thead>
<tr>
	<th>事件</th>
	<th>发生次数</th>
</tr>
</thead>
<tbody>
<% @tmp_notes.each do |n| %>
<% if n.api_name != "0" %>
<tr>
	<td><%= n.api_name %></td>
	<td><%= link_to n.ncount,notes_path(params.merge(:api_name=>n.api_name)) %></td>
</tr>
<%end%>
<%end%>
</tbody>
</table>

<script type="text/javascript">
$(function(){
	$("#start_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
	$("#end_date").datepicker({dateFormat:"yy-mm-dd",maxDate:new Date()});
});
</script>