.container
  %table.table.table-striped
    %thead
      %tr
        %th 事件
        %th 数量
    %tbody
      -@error_event_count.each do |e|
        %tr
          %td 
            =e.status
          %td 
            =link_to e.num, account_sessions_path(:grid =>{:f =>{"finished_at"=>{"fr"=>Date.today, "to"=>Date.tomorrow},:finished_status => e.status,:started_status => 'normal'}})