.container
  %table.table{:style=>"width: 70%"}
    %tbody
      %tr
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'BS', :name => "bslocked"} 
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'EX', :name => "exception"} 
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'DD', :name => "discardfordays"}
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'DY', :name => "discardforyears",:lable_type => 'important'}
      %tr
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'LK', :name => "locked"} 
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'RC', :name => "recycle"} 
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'SL', :name => "discardbysailia"} 
        %td=render :partial => 'error_event_count',:locals => {:short_name => 'DC', :name => "disconnect"} 
