<%= render "navbar" %>




<table class="table"> 

<tbody>

<tr>
<td>上线角色</td>
<td><%= @online_count %></td>
</tr>

<tr>
<td>完成角色</td>
<td><%= @success_count %></td>
</tr>

<tr>
<td>未完成角色</td>
<td><%= @fail_count %></td>
</tr>


</tbody>
</table>


