-if @task
  = form_tag(do_checked_computers_path,:method => :put,:id=>"computer_checked_form",:target=>"_blank",:class=>"form-horizontal") do 
    = hidden_field_tag :do,'task'
    = hidden_field_tag :task_id,@task.id
    %select{:name => "ids[]", :multiple => "multiple", :style => "display:none;"}
      %option{ :value => @computer.id, :selected => "selected"}
    %button.btn.btn-danger{:type => "submit",'data-confirm' => 'Are you sure?'} 重启
