<%= render "navbar2" %>
<fieldset>
<legend><%= @computer.hostname %>日志</legend>
<ul>
<% @objects.each do |key| %>
<li>
	<i class="icon-file"></i>
	<%= link_to key[/\d[^\/]+$/],"#{@s3_url}#{key}",:target=>"_blank"%>
</li>
<%end%>
</ul>
</fieldset>