<fieldset>
<legend>API DOC</legend>
<a class="btn"><i class=" icon-time"></i><%= time_str Time.now %></a>
<table class="table table-bordered">
<thead>
<th class="span2">URL</th>
<th>Paramters</th>
<th class="span3">Code</th>
</thead>
<tbody>

	
<tr>
<td colspan="3">new API (采用RESTFUL原则重新设计API)</td>
</tr>
<tr>
<td>reg.json</td>
<td>注册computer，{hostname,auth_key,server}</td>
<td rowspan="18">
<ul>
	<% Api::CODES.each do | key, value | %>
	<li><%= value %>  => <%= key %></li>
	<%end%>
</ul>
</td>
</tr>
</tr>
<tr>
<td colspan="2"></hr></td>
</tr>

<tr>
<td>set.json</td>
<td>修改 ckey 对应的computer的区。参数: ckey => 计算机key，server => 区</td>
</tr>

<tr>
<td>cinfo.json</td>
<td>搜索 ckey 对应的computer。参数: ckey => 计算机key</td>
</tr>

<tr>
<td>roles/online.json</td>
<td>搜索一个合适的role在 ckey 对应的computer 上线。参数: ckey => 计算机key, msg => 消息.返回json:</br>

{"code":1,"role":{"id":5335,"account":"315966938","password":"x28935398x","server":"浙江一区","role_index":0,"computer_id":267,"level":0,"vit_power":156,"locked":false,"lost":false,"ip_range":"127.0","gold":0,"online_note_id":99914,"sellers":["收款角色1","收款角色2"],"sell_goods":"木材","goods_price":10000}}
</td>
</tr>
<tr>
<td>roles/:id.json</td>
<td>通过id获取role。参数: ckey => 计算机key</td>

</tr>

<tr>
<td>roles/:id/on.json</td>
<td>通过id使role在ckey对应的computer上线，参数: ckey => 计算机key  ,msg => 消息</td>

</tr>

<tr>
<td>roles/:id/off.json</td>
<td>通过id使role下线，参数: ckey => 计算机key,msg => 消息</td>

</tr>

<tr>
<td>roles/:id/sync.json</td>
<td>通过id修改role的属性 server,level,role_index,vit_power,gold，ckey => 计算机key</td>

</tr>

<tr>
<td>roles/:id/close.json</td>
<td>通过id关闭role，参数：h => 关闭的小时数， ckey => 计算机key</td>

</tr>

<tr>
<td>roles/:id/note.json</td>
<td>通过id记录role的code，参数：event => 事件,code => 代码， msg => 消息 ,ckey => 计算机key <span class="badge badge-important">New</span></td>

</tr>

<tr>
<td>roles/:id/pay.json</td>
<td>通过id记录role的金币支出。参数： gold => 支出金币数, balance => 余额, pay_type => 支出方式, reamrk => 备注(选填)，ckey => 计算机key</td>
</tr>

<tr>
<td>roles/add.json</td>
<td>添加一个角色，参数： account => 帐号, password => 密码, ckey => 计算机的key</td>
</tr>


<tr>
<td>roles/:id/lock.json</td>
<td>通过id锁定一个角色，参数： msg => 消息, ckey => 计算机的key</td>
</tr>


<tr>
<td>roles/:id/unlock.json</td>
<td>通过id解锁一个角色，参数： msg => 消息, ckey => 计算机的key</td>
</tr>


<tr>
<td>roles/:id/lose.json</td>
<td>通过id丢失一个角色，参数： msg => 消息, ckey => 计算机的key</td>
</tr>

<tr>
<td>roles/:id/bslock.json</td>
<td>通过id 交易锁定角色，参数： msg => 消息, ckey => 计算机的key <span class="badge badge-important">New</span></td> 
</tr>


<tr>
<td>roles/:id/bs_unlock.json</td>
<td>通过id 角色的交易锁定，参数： result => [0=>fail,1=>success] msg => 消息, ckey => 计算机的key <span class="badge badge-important">New</span></td> 
</tr>


<!-- 
<tr>
<td colspan="2">old 旧版本还是能调用。在客户端修改后，会取消</td>
</tr>
<tr>
<td>online.json</td>
<td>rid or role_id ,ckey </td>
</tr>
<tr>
<td>sync.json</td>
<td>role data=>[server,level,role_index,vit_power]</td>
</tr>
<tr>
<td>offline.json</td>
<td>role_id</td>
</tr>
 -->



<!-- <tr>
<td>roles.json</td>
<td>limit,offset</td>
<td>
{[role{...}]}
</td>
</tr> -->



</tbody>
</table>
</fieldset>

