.btn-group
  =link_to raw('<i class="icon-ok-sign"></i>添加服'),new_server_path,:class=>"btn"
  =link_to raw('<i class="icon-user"></i>添加收币号'),new_top_sell_path,:class=>"btn"
  =link_to raw('<i class="icon-user"></i>添加直通车'),new_direct_gold_agent_path,:class=>"btn"
