<% active = 'class=active'%>
<ul class="nav nav-tabs">
<li <%= active if controller_name == 'gold' && action_name == 'home' %>>
 <%= link_to raw('<i class="icon-home"></i>金币主页'),home_computers_path  %>
</li>


</ul>
