%h1 New gold_agent_allocation
=form_tag(gold_agent_allocations_path) do |s|
  .control-group
    %label.control-label 服:
    .controls
      = select_tag :server,options_for_select(@servers,"all")
  .control-group
    .controls
      = submit_tag "执行", :class => "btn btn-success"
