<%= render "navbar" %>
<fieldset>
<legend>S3</legend>



<ul>
<% @objects.as_tree.children.each do |t| %>
<li>
	<%if t.branch? %>
		<i class="icon-folder-close"></i><%= link_to t.prefix,s3_versions_path(:prefix=>t.prefix)%>
	<%else%>
		<i class="icon-file"></i><%= t.key %>
	<%end%>
</li>
<%end%>
</ul>
</fieldset>
