<%= render "navbar" %>

<fieldset>
<legend>金币支出主页</legend>
<table class="table table-bordered">
<thead>
	<tr>
		<th>支出类型</th>
		<th>支出金币</th>
	</tr>
</thead>
<% @payments.each do |pm|%>
<tr>
	<td><%= link_to pm.pay_type,payments_path(:type=>pm.pay_type) %></td>
	<td><%= pm.zhichu.to_i %></td>
</tr>
<% end %>
<tr>
	<td colspan="2">合计：<%= @sum_gold%></td>
</tr>
</table>
</fieldset>
