= form_tag(checked_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do
  .btn-toolbar
    %button.btn.btn-primary.btn-lg{'data-toggle'=>"modal",'data-target'=>'#myModal'} 打开过滤器
    .pull-right
      %select#do.input-medium{'name' => 'do'}
        %option --请选择--
        -Account::Btns.each do | key, value |
          %Role{'value'=>"#{key}"}
            =value
      %button.btn.btn-primary#expand-btn{'type'=>"submit"} 执行操作
  =render partial: 'roles/grid',:locals => {:roles => roles}