= form_tag(checked_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do
  .btn-toolbar
    %button.btn.btn-primary.btn-lg{'data-toggle'=>"modal",'data-target'=>'#myModal'} 打开过滤器
    .pull-right
      %select#do.input-medium{'name' => 'do'}
        %option --请选择--
        -Role::Btns.each do | key, value |
          %option{'value'=>"#{key}"}
            =value
      %button.btn.btn-primary#expand-btn{'type'=>"submit"} 执行操作
  =render :partial => 'roles/new_grid'
  //filter 必须在new_grid的render之后
  =render 'roles/grid_filter'

  =form_tag(update_selected_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do
    =render_grid @roles
    =render :partial => 'roles/grid_edit',:locals => {:dlg_id =>'gridEditor'}
    =dump_filter_parameters_as_hidden_fields(@roles)

  =form_tag(update_all_roles_path,:method => :put,:id=>"role_update_all_form",:onSubmit=>"return validate(this);",:target=>"_blank") do
    =dump_filter_parameters_as_hidden_fields(@roles)
    =render :partial => 'roles/grid_edit',:locals => {:dlg_id =>'update_all_dlg'}