<%= form_tag(checked_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do -%>
  <div colspan="2" class="text-right">
  <select id="do" name="do" class="input-medium">
    <option value="">选择操作</option>
    <% Role::Btns.each do | key, value |  %>
      <option value="<%= key %>"><%= value%></option>
    <%end%>
  </select>
  <button type="submit" class="btn btn-primary">执行操作</button>
  </div>

<%= grid(roles, show_filters: :no) do |g|
  g.action_column
  g.column name:  'ID', attribute: 'id', filter: false
  g.column name:  'index', attribute: 'role_index', filter: false
  
  g.column name:  'Account' do |task|
    account_tag task.account
  end
  g.column name:  '区', attribute: 'server'#, filter: false
  g.column name:  '等级', attribute: 'level',filter_type: :range
  g.column name:  '体力', attribute: 'vit_power'#, filter: false

    g.column name: '金币' do |task|
      task.gold
    end
    g.column name: '今日结果',attribute: "today_success",filter_type: :boolean do |task|
      boolean_tag task.today_success 
    end
    g.column name:  '状态', attribute: 'status'#, filter: false
    g.column   do |task|
      link_to('Edit', edit_role_path(task)) + " "+
      link_to('Destroy', task_path(task),confirm: 'Are you sure?',:method => :delete)
    end
  end %>

<%end%>