.modal.hide.fade#myModal{'tabindex'=>"-1",'role'=>"dialog",'aria-labelledby'=>"myModalLabel",'aria-hidden'=>"true"}
  .modal-header
    %button.close{'data-dismiss'=>"modal",'aria-label'=>"Close"}
      %span{'aria-hidden'=>"true"} &times;
    %h4.modal-title#myModalLabel 角色过滤

  .modal-body
    .form-horizontal
      .control-group
        %label.control-label ID:
        .controls.docs-input-sizes 
          =grid_filter @roles, :id_filter
      .control-group
        %label.control-label 职业:
        .controls
          =grid_filter @roles, :profession_filter
      .control-group
        %label.control-label 等级:
        .controls
          =grid_filter @roles, :level_filter
        %label.control-label 体力:
        .controls
          =grid_filter @roles, :vit_power_filter
      .control-group
        %label.control-label 角色配置:
        .controls
          =grid_filter @roles, :profile_filter
      .control-group
        %label.control-label 服:
        .controls
          =grid_filter @roles, :server_filter
      .control-group
        %label.control-label 今日成功:
        .controls
          =grid_filter @roles, :today_success_filter
      .control-group
        %label.control-label 账号状态:
        .controls
          =grid_filter @roles, :account_status_filter
      .control-group
        %label.control-label 账号绑定:
        .controls
          =grid_filter @roles, :bind_computer_filter

      .control-group
        %label.control-label 角色状态:
        .controls
          =grid_filter @roles, :status_filter


  .modal-footer
    %button.btn.btn-default{'data-dismiss'=>"modal"} Close
    %button.btn.btn-warning.wg-external-reset-button{'data-grid-name' => 'grid'} Reset
    %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
