=content_for :title do
  角色列表

%button.btn.btn-primary.btn-lg{'data-toggle'=>"modal",'data-target'=>'#myModal'} Launcher Filter
%button.btn.btn-warning.wg-external-reset-button{'data-grid-name' => 'grid'} Reset

%button.btn.btn-primary.btn-lg{'data-toggle'=>"modal",'data-target'=>'#gridEditor'} Launcher Editor

=render :partial => 'new_grid'
//filter 必须在new_grid的render之后
=render :partial => 'grid_filter'

=form_tag(update_all_roles_path,:method => :put,:id=>"role_checked_form",:onSubmit=>"return validate(this);",:target=>"_blank") do
  =render_grid @roles
  =render :partial => 'grid_edit'
  =dump_filter_parameters_as_hidden_fields(@roles)