/*
 *= require_tree .
 *= require formtastic
 *= require my_formtastic_changes
 */
body { padding-top:45px; }

.form-search .input-small {width:66px;}


.form-search .input-select {width:90px;}

select{margin-bottom: 0px;color: #b94a48;font-weight: bold;}
