<% content_for :title do%>账号列表<%end%>
<%= render "ul" %>
<%= render "search_form" %>
<div class="alert">
	<strong>提示信息:</strong>
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<span><%= flash[:msg] if flash[:msg]%></span> 
</div>

<%= render :partial => "grid"%>

